{% extends "layout.html" %}
{% block body %}

<div class="row">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('add_conductor')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="EmployeeID" placeholder="EmployeeID">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Apellido" placeholder="Apellido">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Direccion" placeholder="Direccion">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Telefono" placeholder="Telefono">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="BaseID" placeholder="BaseID">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="IsActive" placeholder="IsActive">
        </div>
        <button class="btn btn-primary btn-block">
          Save 
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <td>EmployeeID</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Direccion</td>
          <td>Telefono</td>
          <td>BaseID</td>
          <td>IsActive</td>
        </tr>
      </thead>
      <tbody>
        <br>
        {% for conductor in Conductores %}
        <tr>
          <td>{{conductor.0}}</td>
          <td>{{conductor.1}}</td>
          <td>{{conductor.2}}</td>
          <td>{{conductor.3}}</td>
          <td>{{conductor.4}}</td>
          <td>{{conductor.5}}</td>
          <td>{{conductor.6}}</td>
          <td>{{conductor.7}}</td>
          <td>
            <a href="/edit/conductores/{{conductor.0}}" class="btn btn-secondary">edit/conductores</a>
            <a href="/delete/conductores/{{conductor.0}}" class="btn btn-danger btn-delete">delete/conductores</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock %}
